/**
 * Escala usada para definir todos los tamaños:
 * http://modularscale.com/scale/?px1=55&px2=30&ra1=1.618&ra2=0
 *
 * Mas información:
 * http://alistapart.com/article/more-meaningful-typography
 */
/* Tamaños clave */
/* Tamaños encabezados */
/*  55     */
/*  48.54  */
/*  33.993 */
/*  30     */
/*  21.009 */
/*  18.541 */
/* Tamaños extra grandes */
/* 127.074 */
/*  88.99  */
/*  78.538 */
/* Tamaños extra pequeños */
/*  12.985 */
/*  11.459 */
/*   8.025 */
/* Colores */
body {
  margin: 8px auto 90px auto;
  width: 100%;
  max-width: 740px;
  background-image: url(../imagenes/10.png);
}
.titulo-seccion {
  color: #3cddc9;
}
.contenedor-color {
  height: 60px;
  color: #ffffff;
  margin-bottom: 30px;
}
p + .contenedor-color {
  margin-top: -20px;
}
.contenedor-color--base {
  background-color: #cccccc;
}
.contenedor-color--base-claro {
  background-color: #d9d9d9;
}
.contenedor-color--principal {
  background-color: #f299b7;
}
.contenedor-color--secundario {
  background-color: #392814;
}
.contenedor-color--principal-claro {
  background-color: #f5b0c7;
}
.contenedor-color--secundario-claro {
  background-color: #4c351b;
}
.contenedor-color--texto {
  background-color: #444444;
}
