* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: @color-texto;
  font-size: 115.88125%; /* 115.88125% = @foxtrot = 18.541px */
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  line-height: @pizca;
}

p {
  text-rendering: optimizeLegibility;
  font-size: @foxtrot;
  line-height: @pizca;
  margin: 0 0 @pizca;
}

ul,
ol {
  margin: 0 0 @pizca;
  padding-left: @pizca;

  ul,
  ol {
    margin-top: @pizca / 3;
    margin-bottom: @pizca / 3;
  }
}

ul li,
ol li {
  margin-bottom: @pizca / 3;
}

strong {
  font-weight: 400;
}

em {
  font-style: italic;
}

a {
  color: @color-principal;
  text-decoration: none;

  &:hover,
  &:active {
    color: @color-principal-claro;

    img {
      opacity: 0.9;
    }
  }
}

blockquote {
  margin: 0 0 @pizca;
  padding: 0 @pizca;
  font-style: italic;
  border-left: 4px solid @color-principal;

  p {
    margin-bottom: @pizca / 3;
  }

  footer {
    color: @color-base;
  }
}

code, kbd, pre, samp {
  font-size: @foxtrot;
  line-height: @foxtrot;
}

input, select, button, textarea {
  line-height: inherit;
}

figure {
  width: 100%;
  height: auto;
  margin: 0 0 @pizca 0;
  padding: @pizca / 3;
  background-color: @color-base-claro;

  img {
    border: none !important;
    width: inherit;
    height: inherit;
  }

  figcaption {
    font-size: @mili;
    color: @color-texto;
    text-align: center;
  }
}
