.contenedor {
  margin-left: -@pizca / 2;

  .cf()
}

.contenedor__lectura,
.contenedor__barra-lateral,
.contenedor__widget {
  float: left;
  padding: 0 @pizca / 2;
}

.contenedor__lectura {
  width: 66.6%;
}

.contenedor__barra-lateral {
  width: 33.3%;
}

.contenedor__widget {
  width: 25%;
}

.contenedor--relleno {
  padding: 0 @pizca / 2;
}
