.cinta {
  font-size: @foxtrot;
  width: 100%;
  position: relative;
  background: @color-principal-claro;
  color: #fff;
  text-align: center;
  padding: 2px;
  margin: @pizca auto;


  @media ( min-width: 481px ) {

    /* Extremos cinta */
    &:before,
    &:after {
      content: "";
      position: absolute;
      display: block;
      bottom: -10px;
      border: @pizca solid @color-principal;
      z-index: -1;
    }

    /* Extremo izquierdo */
    &:before {
      left: -40px;
      border-left-color: transparent;
    }

    /* Extremo derecho */
    &:after {
      right: -40px;
      border-right-color: transparent;
    }

    /* Sombras */
    .cinta__contenido:before,
    .cinta__contenido:after {
      content: "";
      position: absolute;
      display: block;
      border-style: solid;
      border-color: darken( @color-principal, 50%) transparent transparent transparent;
      bottom: -10px;
    }

    /* Sombra izquierda */
    .cinta__contenido:before {
      left: 0;
      border-width: 10px 0 0 10px;
    }

    /* Sombra derecha */
    .cinta__contenido:after {
      right: 0;
      border-width: 10px 10px 0 0;
    }
  }


  @media ( min-width: 1023px ) {

    width: 98%;

    /* Extremo izquierdo */
    &:before {
      border-width: @pizca 35px @pizca 15px;
    }

    /* Extremo derecho */
    &:after {
      border-width: @pizca 15px @pizca 35px;
    }
  }

  @media ( min-width: 481px ) and ( max-width: 1023px ) {

    font-size: @micro;
    width: 80%;

    /* Extremo izquierdo */
    &:before {
      border-width: 43px 35px 43px 15px;
    }

    /* Extremo derecho */
    &:after {
      border-width: 43px 15px 43px 35px;
    }
  }

  @media ( max-width: 480px ) {
    font-size: @micro;
  }
}





.menu {
  list-style: none;
  margin: 0;
  padding: 0px;
  border-top: 1px dashed white;
  border-bottom: 1px dashed white;
  width: 100%;
  height: 54px;

  @media ( min-width: 481px ) and ( max-width: 1023px ) {
    height: 82px;
  }

  @media ( max-width: 480px ) {
    border-left: 1px dashed white;
    border-right: 1px dashed white;
    padding: 0;
  }

  @media ( min-width: 321px ) and ( max-width: 480px ) {
    height: 82px;
  }

  @media  ( max-width: 320px ) {
    height: 162px;
  }
}

.menu__elemento {
  margin: 0;
  padding: 0;
  float: left;

  @media ( min-width: 321px ) and ( max-width: 1023px ) {
    width: 50%;
  }

  @media  ( max-width: 320px ) {
    width: 100%;
  }



  a {
    margin: 0;
    padding: 5px 16px;
    color: white;
    display: inline-block;
    background-color: @color-principal-claro;
    text-transform: uppercase;
    width: 100%;

    &:hover {
      background-color: lighten( @color-principal-claro, 2% );
    }

    @media ( min-width: 1024px ) {
      padding: 11px 17px;
    }
  }
}


