@import "variables.less";

body {
  margin: 8px auto 90px auto;
  width: 100%;
  max-width: 740px;
  background-image: url(../imagenes/10.png);
}

.titulo-seccion {
  color: #3cddc9;
}

.contenedor-color {
  height: @pizca * 2;
  color: #ffffff;
  margin-bottom: @pizca;
}

p + .contenedor-color {
  margin-top: -20px;
}

.contenedor-color--base {
  background-color: @color-base;
}

.contenedor-color--base-claro {
  background-color: lighten( @color-base, 5% );
}

.contenedor-color--principal {
  background-color: @color-principal;
}

.contenedor-color--secundario {
  background-color: @color-secundario;
}

.contenedor-color--principal-claro {
  background-color: lighten( @color-principal, 5% );
}

.contenedor-color--secundario-claro {
  background-color: lighten( @color-secundario, 5% );
}

.contenedor-color--texto {
  background-color: @color-texto;
}
