/**
 * Escala usada para definir todos los tamaños:
 * http://modularscale.com/scale/?px1=55&px2=30&ra1=1.618&ra2=0
 * Más información:
 * http://alistapart.com/article/more-meaningful-typography
 */

/**
 * Tamaños clave
 *
 * 1. Tamaño clave principal
 * 2. Tamaño clave secundario
 * 3. Número aureo para calcular los tamaños en base a los dos tamaños claves
 */
@pizca:   30px;               /* [ 1 ] */
@mizca:   55px;               /* [ 2 ] */
@trizca:  1.618;              /* [ 3 ] */

/**
 * Tamaños encabezados
 */
@alfa:    @mizca;             /*  55     */
@bravo:   @pizca * @trizca;   /*  48.54  */
@charlie: @alfa / @trizca;    /*  33.993 */
@delta:   @pizca;             /*  30     */
@echo:    @charlie / @trizca; /*  21.009 */
@foxtrot: @delta / @trizca;   /*  18.541 */

/**
 * Tamaños extra grandes
 */
@giga:    @kilo * @trizca;    /* 127.074 */
@mega:    @alfa * @trizca;    /*  88.99  */
@kilo:    @bravo * @trizca;   /*  78.538 */

/**
 * Tamaños extra pequeños
 */
@mili:    @echo / @trizca;    /*  12.985 */
@micro:   @foxtrot / @trizca; /*  11.459 */
@nano:    @mili / @trizca;    /*   8.025 */

/**
 * Colores
 */
@color-texto:             #444444;
@color-base:              #CCCCCC;
@color-base-claro:        lighten( @color-base, 5% );
@color-principal:         #F299B7;
@color-principal-claro:   lighten( @color-principal, 5% );
@color-secundario:        #392814;
@color-secundario-claro:  lighten( @color-secundario, 5% );
@color-alternativo:       #5FCEBD;
@color-alternativo-claro: lighten( @color-alternativo, 5% );

