/**
 * Escala usada para definir todos los tamaños:
 * http://modularscale.com/scale/?px1=55&px2=30&ra1=1.618&ra2=0
 * Más información:
 * http://alistapart.com/article/more-meaningful-typography
 */

/**
 * Tamaños clave
 *
 * 1. Tamaño clave principal
 * 2. Tamaño clave secundario
 * 3. Número aureo para calcular los tamaños en base a los dos tamaños claves
 */
@pizca:   30px;               /* [ 1 ] */
@mizca:   55px;               /* [ 2 ] */
@trizca:  1.618;              /* [ 3 ] */

/**
 * Tamaños encabezados
 *
 * 1. 55px
 * 2. 48.54px
 * 3. 33.993px
 * 4. 30px
 * 5. 21.009px
 * 6. 18.541px
 */
@alfa:    @mizca;             /* [ 1 ] */
@bravo:   @pizca * @trizca;   /* [ 2 ] */
@charlie: @alfa / @trizca;    /* [ 3 ] */
@delta:   @pizca;             /* [ 4 ] */
@echo:    @charlie / @trizca; /* [ 5 ] */
@foxtrot: @delta / @trizca;   /* [ 6 ] */

/**
 * Tamaños extra grandes
 *
 * 1. 127.074px
 * 2. 88.99px
 * 3. 78.538px
 */
@giga:    @kilo * @trizca;    /* [ 1 ] */
@mega:    @alfa * @trizca;    /* [ 2 ] */
@kilo:    @bravo * @trizca;   /* [ 3 ] */

/**
 * Tamaños extra pequeños
 *
 * 1. 12.985px
 * 2. 11.459px
 * 3.  8.025px
 */
@mili:    @echo / @trizca;    /* [ 1 ] */
@micro:   @foxtrot / @trizca; /* [ 2 ] */
@nano:    @mili / @trizca;    /* [ 3 ] */

/**
 * Colores
 */
@color-texto:             #444444;
@color-base:              #CCCCCC;
@color-base-claro:        lighten( @color-base, 5% );
@color-principal:         #F299B7;
@color-principal-claro:   lighten( @color-principal, 5% );
@color-secundario:        #392814;
@color-secundario-claro:  lighten( @color-secundario, 5% );
